@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sofia/v9/8QIHdirahM3j_su5uIs.woff) format('woff');
}
.font-effect-neon {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f;
  color: #fff;
}
